.content-wrap {
  min-height: calc(100vh - 104px);
  max-width: 1500px;
  width: 60%;
  margin: 0 auto;
  padding: 0 10px;
}
.content-wrap .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.content-wrap ul li {
  margin-bottom: 40px;
}

.content-wrap ul li .bold-text {
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: none;
}

@media (max-width: 830px) {
  .content-wrap {
    width: 90%;
  }
}
