.project-details {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

.project-details .content-details {
  display: grid;
  place-items: center;
  margin: 30px 0;
  border: 2px solid white;
}

.project-details .content-details .img-screenshot {
  max-height: 300px;
  max-width: 600px;
  padding: 5px;
  border-bottom: 1px solid white;
}

.project-details .content-details .text-link {
  margin-bottom: 0;
  border-bottom: 1px solid white;
}

.project-details .content-details .text-description {
  max-width: 800px;
}
