/* Styles for the home section */
.home {
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Styles for text within the home section */
.home .home-text {
  text-align: center;
}
/* Styles for title within the home section */
.home .home-text .title {
  font-size: 40px;
  margin-bottom: 20px;
}
/* Styles for span within the title within the home section */
.home .home-text .title .title-span,
.home .home-text .sub-title .title-span {
  color: black;
}
/* Styles for sub-title within the home section */
.home .home-text .sub-title {
  font-size: 26px;
  margin-bottom: 30px;
  max-width: 900px;
}
/* Styles for the lottie animation within the home section */
.lottie-home {
  width: 300px;
  height: 300px;
}

.home .home-text .text-span {
  color: var(--secondary-color);
}
