.contact {
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact .title {
  margin-top: 20px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-weight: bold;
}

.contact .title span {
  background-color: black;
  color: white;
  margin-left: 8px;
}

.contact .contact-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-top: 1px solid black;
  margin-top: 30px;
}

.contact .contact-wrap .item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-bottom: 25px;
  color: var(--primary-color);
  transition: all 0.2s ease-in 0s;
  text-decoration: none;
}

.contact .contact-wrap .contact-img {
  width: 100%;
  max-width: 34px;
  transition: all 0.2s ease-in 0s;
  margin-right: 10px;
  padding: 5px;
}

.lottie-contact-letter {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
}

.contact-form {
  width: 400px;
  margin-left: 20px;
}

.btn-form {
  margin-top: 15px;
}
