/* Styles for the contact section */
.contact {
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Styles for the title within the contact section */
.contact .title {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-weight: bold;
}

/* Styles for the span within the title */
.contact .title span {
  background-color: black;
  color: white;
  margin-left: 8px;
}

/* Styles for the contact information wrap */
.contact .contact-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-top: 1px solid black;
  margin-top: 30px;
}

/* Styles for each contact item within the wrap */
.contact .contact-wrap .item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-bottom: 25px;
  color: var(--primary-color);
  transition: all 0.2s ease-in 0s;
  text-decoration: none;
}

/* Styles for contact images */
.contact .contact-wrap .contact-img {
  width: 100%;
  max-width: 34px;
  transition: all 0.2s ease-in 0s;
  margin-right: 10px;
  padding: 5px;
}

/* Styles for the contact form */
.lottie-contact-letter {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
}
