.header {
  background-color: blue;
  height: 60px;
  display: flex;
  align-items: center;
}

.header .nav-tabs .nav-item .nav-link {
  /* TODO: style links */
}
.header .nav-tabs .nav-item .nav-link.active {
  background-color: brown;
}
