.main-section {
  min-height: calc(100vh - 104px);
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  background-image: url("/Background-image.jpg");
  background-size: cover;
}

.content {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
