/* reset CSS browser  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CSS variables */
:root {
  --primary-color: #12372a;
  --secondary-color: #436850;
  --third-color: #adbc9f;
  --fourth-color: #fbfada;
}

body {
  min-height: 100vh;
}

body #root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
